.link{
			background: #222;
			background: -moz-linear-gradient(#252525, #0A0A0A) ;
			background: -o-linear-gradient(#252525, #0A0A0A);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0A0A0A));
			background: -webkit-linear-gradient(#252525, #0A0A0A);
			-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
			-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
			color:#fff;
			padding: 8px 10px;
			text-decoration: none;
			font-weight: normal;
			font-size: 18px;
			font-family: Arial,Verdana;
			word-spacing: 1px;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-o-border-radius: 4px;
			-ms-border-radius: 4px;
		}
		.link:hover{
			text-decoration: none;
			color: #fff;
			background:#62ABD8 !important;
			background: -moz-linear-gradient(#80BADE, #62ABD8) ;
			background: -o-linear-gradient(#80BADE, #62ABD8);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
			background: -webkit-linear-gradient(#80BADE, #62ABD8);
			-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
			-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		}
		.link:active{
			background:#62ABD8 !important;
			background: -moz-linear-gradient(#80BADE, #62ABD8) ;
			background: -o-linear-gradient(#80BADE, #62ABD8);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
			background: -webkit-linear-gradient(#80BADE, #62ABD8);
			-webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
			-moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
			box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
		}

         
        .top_bar{
            background-color:#000;
            color:#fff;
        }
        .todo_body{
            -webkit-box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 1px 0.2px rgba(0,0,0,0.2);
            margin: 15px auto;
            padding:10px 10px;
        }
        .title{
            margin:0;
        }
        .task {
            font-size:16px;
        }
        .btn_delete {
            border-radius: 0;
            margin: 30px auto;
        }

        /* The Custom Check Box */
        .chk_box {
            display: block;
            position: relative;            
            padding-right:16px;
            margin-bottom: 22px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .chk_box input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: rgba(0, 0, 0, 0.21176470588235294);
            border:1px solid rgba(0, 0, 0, 0.12156862745098039);
        }

        /* On mouse-over, add a grey background color */
        .chk_box:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .chk_box input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .chk_box input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .chk_box .checkmark:after {
            left: 7px;
            top: 4px;
            width: 6px;
            height: 11px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
